@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

:root{
    --backgroundNavbar: #D2D6DC;
    --textColor: #404040;
    --backgroundContent: #f7f7f7;
    --button: #404040;
    --white: #fff;
    --black: #000;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, 
fieldset, legend, figure, table, th, td, caption, hr {
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    color: var(--textColor);
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: var(--backgroundContent);
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
    letter-spacing: 0.1em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-wrap: break-word;
}
a{
    text-decoration: none;
    color: var(--textColor);
}
ul, ol, dl, blockquote, p, address, hr, table, fieldset, figure, pre, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 18px;
}
